In [2]:
import numpy as np

In [8]:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])

In [15]:
np.einsum('i', a) # a

array([1, 2, 3])

In [16]:
np.einsum('i->', a) # sum(a)

6

In [18]:
np.einsum('i,i->i', a, b) # a * b

array([ 4, 10, 18])

In [3]:
A = np.array([0, 1, 2])
B = np.array([[0, 1, 2, 3],
              [4, 5, 6, 7],
              [8, 9, 10, 11]])

In [6]:
(A[:, None] * B).sum(axis=1)

array([ 0, 22, 76])

In [7]:
np.einsum('i, ij->i', A, B)

array([ 0, 22, 76])